.section {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 0 20px;
  width: 100%;
  max-width: var(--max-width-desktop);
}

@media (max-width: 1200px) {
  .content {
    max-width: var(--max-width-tablet);
  }
}

@media (max-width: 810px) {
  .content {
    max-width: var(--max-width-mobile);
  }
}
